:root {
    --cor-letra-menu: #2121F0;
    --cor-letra-branca: #fff;
    --font-logo: "Fjalla One", sans-serif;
    --cor-cinza-escura: rgb(71, 69, 69);
} 

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    z-index: -999;
}

.topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.topo .menu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 20px;
    background: rgba(105, 102, 102, 0.47);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid var(--cor-letra-menu);
}

.topo .menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.topo .menu ul li {
    padding: 8px 15px;
}

.topo .menu ul li a {
    display: block;
    font-size: 20px;
    transition: all .3s ease-in-out;
    padding: 8px 15px;
    border-radius: 3px;
    text-align: center;
    color: var(--cor-letra-branca);
}

.topo .menu ul li a:hover {
    transform: scale(1.2);
    background-color: var(--cor-letra-menu);
    color: var(--cor-letra-branca);
}

.topo .carrossel {
    display: flex;
    width: 100%;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.topo .carrossel .carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.topo .carrossel .carousel-inner {
    height: 90vh;
}

.topo .carrossel .carousel-inner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% ;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.31416316526610644) 29%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 84%);
}

.topo .carrossel .logo {
    position: absolute;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topo .carrossel .logo h1 {
    color: var(--cor-letra-branca);
    letter-spacing: 5px;
    font-size: 80px;
    text-shadow: -2px -2px  var(--cor-letra-menu);
    font-family: var(--font-logo);
}

.conteudo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -998;
}

.section-colorida {
    background-color: var(--cor-cinza-escura);
    color: var(--cor-letra-branca);
}

.conteudo .seta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 50px 0;
    margin-top: 15px;
    z-index: -1;
}

.conteudo .seta .icon-whats {
    width: 50px;
    height: 50px;
    animation: sobeDesce 1s alternate infinite;
}

.conteudo .seta i {
    font-size: 50px;
    color: #000;
}

@keyframes sobeDesce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(20px);
    }
}

.conteudo .conteudo-section {
    width: 100%;
    margin-bottom: 5px;
    padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.conteudo .conteudo-section .img {
    width: 500px;
    height: 300px;
}

.conteudo .conteudo-section .img img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.conteudo .conteudo-section .titulo {
    width: 200px;
    height: 200px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.conteudo .conteudo-section .titulo .btn-saiba-mais {
    background-color: var(--cor-letra-menu);
    color: var(--cor-letra-branca);
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .3s ease-in-out;
}

.conteudo .conteudo-section .titulo .btn-saiba-mais:hover {
    transform: scale(1.2);
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1.5s ;
    z-index: -1;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s;
}


.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.rodape .contatos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rodape .contatos .redes {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
}

.rodape .contatos .redes span {
    font-size: 25px;
    color: var(--cor-cinza-escura);
}

.rodape .contatos .redes .icones {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.rodape .contatos .redes .icones i {
    color: var(--cor-cinza-escura);
    font-size: 25px;
    border: 1px solid var(--cor-cinza-escura);
    border-radius: 100%;
    padding: 5px;
    transition: all .2s ease-in-out;
}

.rodape .contatos .redes .icones i:hover {
    transform: scale(1.2);
}

.rodape .contatos .direitos {
    color: var(--cor-cinza-escura);
}

@media (max-width:522px){
    .topo .carrossel {
        height: calc(80vh - 10px);
        margin-bottom: -150px;
    }

    .topo .menu ul li {
        padding: 0;
    }

    .topo .menu ul li a {
        color: var(--cor-cinza-escura);
    }
    
    .topo .carrossel .carousel-inner {
        height: 30vh;
    }

    .topo .carrossel .logo h1 {
        font-size: 45px;
    }

    .conteudo .seta {
        display: none;
    }
    .conteudo .conteudo-section {
        gap: 0;
    }

    .conteudo .conteudo-section .img img {
        width: 300px;
    }

    .conteudo .conteudo-section .titulo .btn-saiba-mais {
        margin-top: -20px;
    }
}